<div class="container">
  <div class="drone-description">
    <h3 class="drone-description-headline">Теоретические знания</h3>
    <p class="drone-description-subtitle"></p>

    <div class="question" *ngFor="let question of questions">
      <p class="question__text">{{question.question_name}}</p>
      <mat-radio-group class="radio">
        <mat-radio-button *ngFor="let answer of question.answers" class="button" value="{{answer.guid}}" (click)="setAnswer(question.guid, answer.guid)">{{answer.name}}</mat-radio-button>
      </mat-radio-group>
    </div>

    <a class="button" mat-raised-button color="primary" (click)="submit()">Отправить</a>
    <a class="button" mat-raised-button color="primary" routerLink="/main">На главную</a>
  </div>
</div>
