<div class="container">
  <div class="drone-description">
    <h3 class="drone-description-headline">Теоретические знания</h3>
    <p class="drone-description-subtitle"></p>

    <div class="question" *ngFor="let question of ">
      <p class="question__text"></p>
      <mat-radio-group aria-label="">
        <mat-radio-button class="button" value="">Option 1</mat-radio-button>
        <mat-radio-button class="button" value="2">Option 2</mat-radio-button>
        <mat-radio-button class="button" value="2">Option 2</mat-radio-button>
        <mat-radio-button class="button" value="2">Option 2</mat-radio-button>
      </mat-radio-group>
    </div>

    <a class="button" mat-raised-button color="primary">Отправить</a>
  </div>
</div>
