<div class="text">

  <span class="logo" @main-text-appear-left>Typhoon H</span>


  <div class="drone-description" @main-text-appear-left>
    <h3 class="drone-description-headline">Беркут</h3>
    <p class="drone-description-subtitle">Система предполетного обучения</p>

    <a class="button" mat-raised-button color="primary" routerLink="../test">Теория</a>
    <a class="button" mat-raised-button color="primary" (click)="setLearning(true)" routerLink="../simulator">Обучение</a>
    <a class="button" mat-raised-button color="primary" (click)="setLearning(false)" routerLink="../simulator">Экзамен</a>
  </div>
</div>

<div class="drone">

  <app-drone></app-drone>

</div>

<div class="information">
  <div class="secondary-information">

    <div @main-text-appear-right>
      <p class="secondary-information-subtitle">
        Пользователь: {{login.user!.name}}

        <a class="logout" mat-raised-button color="primary" (click)="login.logout()">Выйти</a>
      </p>

      <p class="secondary-information-subtitle">
        Результат: {{login.user!.result || 0}}
      </p>
    </div>


    <div class="details" @main-text-appear-right>
      <div>
        <span class="details-headline-6 details-headline-6_first">30KM</span>
        <p class="details-body">Flight range</p>
      </div>

      <div>
        <span class="details-headline-6">45KM</span>
        <p class="details-body">Max speed</p>
      </div>

      <div>
        <span class="details-headline-6">31 MIN</span>
        <p class="details-body">Time range</p>
      </div>
    </div>

  </div>
</div>
