<div class="text">

  <span class="logo">Surface</span>


  <div class="drone-description">
    <h3 class="drone-description-headline">MAVIC 2</h3>
    <p class="drone-description-subtitle">See the bigger uin picture</p>

    <p class="drone-description-body">
      Lörem ipsum skogsbad taliban-tv. Jöjäd prepor att lalogi semin.
      Mähuv kageburade debask den fökyrade pseudona. Syvis disera: sussade sevire
    </p>

    <button mat-raised-button color="primary">Начать</button>
  </div>
</div>

<div class="drone">

  <app-drone></app-drone>

</div>

<div class="information">
  <div class="secondary-information">

    <div>
      <p class="secondary-information-subtitle">
        Obstacel seensing
        3-axis gimbal technology
      </p>

      <p class="secondary-information-subtitle">
        Haselblad camera
        20 MP 1” CMOS Sensor
      </p>
    </div>


    <div class="details">
      <div>
        <span class="details-headline-6 details-headline-6_first">30KM</span>
        <p class="details-body">Flight range</p>
      </div>

      <div>
        <span class="details-headline-6">45KM</span>
        <p class="details-body">Max speed</p>
      </div>

      <div>
        <span class="details-headline-6">31 MIN</span>
        <p class="details-body">Time range</p>
      </div>
    </div>

  </div>
</div>
