@import "src/styles";

.container {
  width: 100%;
  height: 100%;
  background: rgb(159, 159, 159);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drone {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 33%;
  height: 85%;

  &-description {
    &-headline {
      @include headline-4($on-surface-1);
      margin-bottom: 0;
    }

    &-subtitle {
      @include subtitle-1($on-surface-3);
      margin-bottom: 30px;
    }

    &-body {
      @include body-2($on-surface-2);
      width: 70%;
      margin-bottom: 45px;
    }
  }
}

.radio {
  display: flex;
  flex-direction: column;
}

.button {
  margin-right: 20px;

}

.question {
  margin-bottom: 30px;

  &__text {
    @include subtitle-1($on-surface-3);
  }
}
