<div class="drone-widgets">

  <div class="drone-value" *ngIf="simulatorService.isLearning">
    <div class="drone-value__item">
      <a class="button" mat-raised-button color="primary" (click)="showKeyboard()">Показать управление</a>
    </div>
  </div>

  <div class="drone-value">
    <div class="drone-value__item">
      <h3>
        Текущая задача:
      </h3>
      <div>{{taskService.currentTask | async}}</div>
    </div>
  </div>

  <div class="drone-value">
    <div class="drone-value__item">
      <h3>{{ (height$ | async) ?? 0 }} М</h3>
      <div>Высота</div>
    </div>
    <div class="drone-value__item">
      <h3>{{(speed$ | async) || 0}} KM/Ч</h3>
      <div>Скорость</div>
    </div>
  </div>

  <div class="drone-value">
    <div class="drone-value__item">
      <h3>
        Батарея
      </h3>
      <app-drone-state-bar [percentage]="gameService.battery$ | async"></app-drone-state-bar>
    </div>
  </div>

  <div class="drone-value">
    <div class="drone-value__item">
      <h3>
        Состояние
      </h3>
      <app-drone-state-bar [percentage]="gameService.healthPoints$ | async">
      </app-drone-state-bar>
    </div>
  </div>

</div>
