<div class="drone-widgets">

  <div class="drone-value">
    <div class="drone-value__item">
      <h3>31 MIN</h3>
      <div>Time range</div>
    </div>
    <div class="drone-value__item">
      <h3>45 KM</h3>
      <div>Max speed</div>
    </div>
  </div>

  <div class="drone-value">
    <div class="drone-value__item">
      <h3>
        Power
      </h3>
      <app-drone-state-bar></app-drone-state-bar>
    </div>
  </div>

  <div class="drone-value">
    <div class="drone-value__item">
      <h3>
        Health
      </h3>
      <app-drone-state-bar [percentage]="70"></app-drone-state-bar>
    </div>
  </div>

</div>
